.form-wrapper {
    background-color: rgb(152, 223, 247);
    padding: 30px;
    border-radius: 20px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

.form-field {
    display: flex;
    flex-direction: column;
}

input, select{
    border-radius: 20px;
    border: none;
    text-align: center;
    margin: 15px 0 15px 0;
    
}

input:focus{
    background-color:rgb(108, 156, 172);
    border: none;
    outline: 3px dashed orange;
}

select:focus {
    background-color:rgb(108, 156, 172);
    border: none;
    outline: 3px dashed rgb(255, 165, 0);
}


input {
    width: 300px;
    padding: 11px 20px;
}
select {
    width: 340px;
    padding: 10px 20px;
}
label {
    color:rgb(51, 75, 83);
    font-weight: 600;
    text-align: center;
}

.icon {
    font-size: 30px;
    color: rgb(255, 136, 0);
}

.submit-btn {
    background-color: rgb(255, 136, 0);
    border: none;
    padding: 10px 30px;
    border-radius: 20px;
    font-weight: 700;
    color:rgb(51, 75, 83);
    cursor: pointer;
    transition: 0.5s smooth;
}
.submit-btn:hover {
    background-color:rgb(51, 75, 83);
    color: rgb(255, 136, 0) ;
}

.err {
    color: rgb(255, 136, 0);
    font-weight: 600;
    margin-top: 0px;    
} 

.err-submit {
    color: rgb(255, 136, 0);
    background-color:rgb(51, 75, 83) ;
    text-align: center;
    padding: 15px 0;
    border-radius: 20px;
}




